<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <h1>Admin Page</h1>
    <h2 th:text="${headerTitle}"></h2>
    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.userId}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.department}"></td>
        </tr>
    </table>
    <form action="/findByDepartment" method="get">
    <label>Find by Department:</label>
    <select name="userDepartment" id="department">
        <option value="">Select Department</option>
        <option value="orders">Orders</option>
        <option value="repairs">Repairs</option>
        <option value="sales">Sales</option>
    </select>
    <button>Submit</button>
    </form>
    <p>No account? Register here <a href="/add-employee">Register</a>
</body>

</html>